body{
    box-sizing: border-box;
    margin:0px;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size:cover;
}

.title-cap{
    text-align: center;
    padding:3px;
    margin:0px;
    border-bottom:1px solid #efe8e8;
    background:#d7cdcd;
}

.title{
   font-family:Arial, Helvetica, sans-serif;
   font-weight:300;
   color:#ffffff;
}

#form-frame{
   margin:100px auto;
   width:400px;
}

#form{
    border:1px solid #e7e5e5;
    padding:30px;
    border-radius:10px;
    background-color:#b0d7e6;
    box-shadow:0px 0px 3px 2px rgb(201, 196, 196);
}


.label{
    font-family: Arial, Helvetica, sans-serif;
}

#username,#password{
    font-size:17px;
    outline:none;
    border:1px solid #cfcbcb;
    border-radius:5px;
    padding:3px;
}

#login{
    padding:8px 12px;
    border:0px;
    border-radius:10px;
    cursor:pointer;
    background:rgb(234, 220, 160);
    color:#000000ba;
    transition-duration:100ms;
}

#login:hover{
    background:rgb(236, 212, 106);
    color:#fff;
}

#note-frame{
    position: absolute;
    top:200px;
    left:30%;
    height:35dvh;
    width:300px;
    padding:30px;
    border-radius:10px;
    background:#fbf300fa;
    z-index:10;
}

#not{
    width:100%;
    height:20dvh;
    resize:none;
    outline:none;
    margin:auto;
    border:0px;
    z-index: 11;
    transition-duration:300ms;
    font-family: Arial, Helvetica, sans-serif;
}


#save{
    padding:8px 12px;
    border:0px;
    cursor:pointer;
    background:#339ddf;
    border-radius:10px;
    color:#fff;
    z-index:11;
}

#iframe_notes{
    width:100%;
    height:82dvh;
    border:0px;
}
#notes_body{
    width:800px;
    margin:auto;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
}


.frm_1{
    border:1px solid #999;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
    width:250px;
    height:300px;
    border-radius:10px;
    background-color: #41313143;
    color:#fff;
    margin:5px;
    padding: 10px;
    box-sizing: border-box;
}


#scroll{
    height:100px;
    overflow-y: auto;
    margin:5px;
}

.delete{
    width:80px;
    background:#dcdf33;
    border:0px;
    padding:5px 10px;
    border-radius:10px;
    cursor:pointer;
    color:#fff;  
}

#no_display{
    border:0px;
    border-radius:10px;
    padding:8px 12px;
    background:#339ddf;
    color:#fff;
    cursor:pointer;
}


#logout,#add{
    border:0px;
    padding:5px;
    border-radius:10px;
    background:rgb(82, 141, 224);
    color:#fff;
    cursor:pointer;
}


@media only screen and (max-width:600px){
    .frm_1{
        width:auto;
        min-width: 200px;
    }
    
    #notes_body{
        width:auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
    }

    #note-frame{
        position:absolute;
        top:200px;
        left:0px;
        right:0px;
        width:auto;
    }

    #form-frame{
       width:100%;
       padding:2px;
    }
    #username,#password{
        width:100%;
    }
}
